:root{
    --cor-texto-cards:  #ffffff;
    --cor-card-primaria: #1F4E92;
    --cor-card-secundaria: #133565;
    --cor-card-terciaria: #081C3D;
    --cor-card-sombra: #000000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


#diferenciais {
    display: flex;
    width: 100%;
    justify-content: center;
}

.diferenciais__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 32px ;
    background-color: var(--cor-card-primaria);
    text-align: center;
    align-items: center;
    border-radius: 20px;
    height:auto;
    width: 250px;
    cursor: pointer;
}

.diferenciais__card:hover{
    transform: scale(1.03);
    transition: all ease-in-out 200ms;
}

.diferenciais__card:nth-child(2) {
    background-color: var(--cor-card-secundaria);
    margin-top: -15px;
    height: 285px;
}

.diferenciais__card img:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.diferenciais__card img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.diferenciais__card p{
    color:var(--cor-texto-cards);
    font-size: large;
}

#motivo{
    background-color: var(--cor-card-terciaria);
    width: 100%;
    color: var(--cor-texto-cards);
    min-height: 85vh;
    padding: 20px 30px;
}

#motivo h2{
    font-size: 50px;
    font-weight: 600;
    height: 50px;
    margin-top: 30px;
}

.motivo__card__container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

.motivo__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 270px;
    border-radius: 10px;
    background-color: var(--cor-card-secundaria);
    box-shadow: 0px 4px 10px var(--cor-card-sombra);
    text-align: center;
    padding: 20px;
}

.motivo__card img{
    width: 90px;
    margin-bottom: 20px;
}

.motivo__card p{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    max-width: 180px;
}
